/* General */

.mycontainer {
  /*width: 960px;*/
  width: : 960px;        
  position: fixed;
  left: 30px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#user-container {
  width: 800px;    
  position: fixed;
  left: 30px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

}

/* Header */

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}

/* Navigation */
/* CSS used here will be applied after bootstrap.css */
#navigation,.navbar .navbar-default{
  border-top: 2px dotted blue;
  border-bottom: 2px dotted blue; 
  background:url("../img/bannerblue.jpg");
  font-style: zapfino;
  height: 55px;
  padding-bottom: 10px;
}

/* Menu */ 

.header .menu {
  float: right;
  font-family: 'Oswald', sans-serif;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: white; /*#898989;*/
  font-weight: bold;
  padding-left: 50px;
}

/* menu-overlay */
#menuOverlay {
  position: fixed; /*or absolute*/
  width: 900px;
  height: 50px;
  background: white;
  z-index: 999; /* or greater value */
}

/* Basics */
html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
}

/* Label */
.label {
  color: black;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 20px;
  margin: 5px;
}

/* Label */
.label-small {
  color: black;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding-left: 10px;
  margin: 5px;
}

/* Title */
.caption {
  color: #777;
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Text */
.text {
  color: black;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;

  width: 300px;

  padding-left: 5px;
  padding-right: 5px;

  margin: 10px;
  border: 1px solid #a8c9e4;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 3px #e6f2f9;
}

/* p */
.text-danger {
  color: blue;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;

  margin: 0px;
}

/* Button */
.button {
  color: black;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;

  padding-left: 20px;
  padding-right: 20px;

  margin: 10px;
}

/* Select */
.select option{
  color: black;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;

  margin: 20px;
}

/* Select */
.select {
  color: black;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 15px;
  width: 200px;

  padding-left: 20px;
  padding-right: 20px;

  margin: 20px;
}
/* Table */
table {
  width: 90%;
  margin-left: 20px;
}
table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
th, td {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

th {
    background-color: #1372d1; /* #4CAF50; (green) */
    color: white;
    font-size: 15px;
}
tr:hover {background-color: #FCF0F0; /*#f5f5f5 (gray)*/};
/*tr:nth-child(even){background-color: #f2f2f2}*/

/* Form */
.form-control {
  color: #555;
  background-color: #ffffff;
  position: fixed;
  width: 548px;
  height: 250px;
  top: 300px;
  left: 200px;
  margin-top: -140px;
  margin-left: -170px;

  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
/* Form large */
.form-large {
  color: #555;
  background-color: #ffffff;
  position: fixed;
  width: 900px;
  height: 450px;
  top: 200px;
  left: 200px;
  margin-top: -140px;
  margin-left: -170px;

  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
/* Form small */
.form-small {
  color: #555;
  background-color: #ffffff;
  position: fixed;
  width: 900px;
  height: 250px;
  top: 200px;
  left: 200px;
  margin-top: -140px;
  margin-left: -170px;

  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

/* id=user-form */
#user-form {
  color: #555;
  background-color: #ffffff;
  position: fixed;
  width: 900px; 

  /*height: 543px;*/
  top: 200px;
  left: 200px;
  margin-top: -140px;
  margin-left: -170px;
  padding-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
/* id = lower */
#lower {
  background: #ecf2f5;
  width: 100%;
  height: 95px;
  margin-top: 20px;
  box-shadow: inset 0 1px 1px #fff;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

input[type=submit] {
    left: 200px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}
input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}
input[type=submit]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
    background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
    background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

.logo {
  padding-left: 23px;
}

.note {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}